/*
* Подключаем шрифты на страницу
*/

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("../fonts/playfair-display-v20-latin_cyrillic-900.woff2") format("woff2"),
    url("../fonts/playfair-display-v20-latin_cyrillic-900.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff");
}

/*
* Глобальные стили
*/

:root {
  --black: #000000;
  --white: #ffffff;

  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--white);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="file"].visually-hidden {
  position: absolute;

  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;

  white-space: nowrap;

  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*
* Стили для шапки траницы
*/

.nav {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 47px;
}

.logo {
  align-self: center;
  margin-bottom: 46px;

  font-family: "Playfair Display", Arial, serif;
  font-size: 35px;
  line-height: 47px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #000000;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav__link {
  color: var(--black);
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav__link:hover,
.nav__link:focus {
  color: #ff7931;
}

/*
* Стили для секции headline
*/

.headline {
  position: relative;

  padding-top: 133px;
  padding-bottom: 48px;

  background-color: var(--black);
  background-image: url("../img/foto.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.headline__title {
  margin: 0;
  margin-bottom: 140px;

  text-align: center;
}

.headline__link {
  position: relative;

  font-size: 72px;
  line-height: 84px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--white);
}

.headline__link::before {
  content: "";

  position: absolute;
  top: -80px;
  left: 50%;

  width: 55px;
  height: 55px;

  background-image: url("../img/icon.svg");
  background-repeat: no-repeat;
  background-position: center center;

  transform: translateX(-50%);
}

.headline__link::after {
  content: "";

  position: absolute;
  top: -132px;
  right: 840px;

  display: none;
  width: 117px;
  height: 25px;

  background-color: #ff7931;
  background-image: url("../img/new.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.headline__link:hover::after {
  display: block;
}

.headline__text {
  width: 460px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;

  color: var(--white);
  text-align: center;
}

/*
* Стили для секции reviews
*/

.reviews {
  padding-top: 44px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.reviews__list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 51px;
}

.reviews__item:nth-child(3n) {
  margin-right: 0;
}

.reviews__caption {
  order: 1;
  margin: 0;
  margin-bottom: 11px;
}

.reviews__img {
  margin-bottom: 20px;
}

.reviews__link {
  font-family: "Playfair Display", Arial, serif;
  color: var(--black);
  font-size: 23px;
  line-height: 31px;
  font-weight: 900;
}

.reviews__link:hover,
.reviews__link:focus {
  color: #ff7931;
}

.reviews__text {
  order: 2;
  margin: 0;
}

/*
* Стили для секции promo
*/

.promo {
  padding-top: 33px;
  padding-bottom: 36px;
  margin-bottom: 50px;

  text-align: center;

  background: radial-gradient(circle, #ffffff 353px, #f7f7f7 353px);
}

.promo__title {
  margin: 0;
  margin-bottom: 35px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.promo__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo__item {
  position: relative;

  width: 370px;
  margin-bottom: 50px;
}

.promo__item:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -28px;

  width: 100px;
  height: 1px;

  background-color: rgba(0, 0, 0, 0.2);

  transform: translateX(-50%);
}

.promo__caption {
  margin: 0;
  margin-bottom: 10px;

  font-family: "Playfair Display", Arial, serif;
  font-size: 23px;
  line-height: 31px;
  font-weight: 900;
  text-align: center;
}

.promo__text {
  margin: 0;
  text-align: center;
}

.button {
  position: relative;

  display: inline-block;
  padding: 16px 30px;
  padding-right: 60px;

  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--white);

  background-color: #ff7931;
}

.button::after {
  content: "";

  position: absolute;
  top: 50%;
  right: 33px;

  width: 16px;
  height: 16px;

  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  transform: translateY(-50%);
}

.button:hover,
.button:focus {
  background-color: rgba(235, 101, 29);
}

/*
* Стили для секции footer
*/

.footer {
  padding-top: 26px;
  padding-bottom: 46px;

  background-color: #575757;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 42px;

  border-bottom: 1px solid var(--white);
}

.nav-footer .logo {
  margin-bottom: 32px;

  color: var(--white);
}

.nav-footer__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 46px;
  padding: 0;

  list-style: none;
}

.nav-footer__link {
  color: var(--white);
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-footer__link:hover,
.nav-footer__link:focus {
  color: #ff7931;
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 170px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  list-style: none;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;

  background-color: var(--white);
}

.socials__link:hover,
.socials__link:focus {
  background-color: #ff7931;
}

.socials__link:hover svg path,
.socials__link:focus svg path {
  fill: var(--white);
}
